

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.post-link {
    text-decoration: none;
}

header{
    min-height: 350px;
  
    color: white;
    display:flex;
    flex-direction: column;
    justify-content: center; /*  makes the content to center but attached to left side */
    align-items: center; /*  makes the content to center completely */
    background-image: url('/Users/sahil/Documents/Javascript Projects/JS projects/actual_blog app/blog app frontend/assets/banner.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
}

header > * {
    z-index: 10;
}
header::after{
    content:"";
    position:absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    background-color: rgba(0,0,0,0.7)
}

.profile-img{
    width:100px;
    height:100px;
    border-radius:50%;
    background-image: url('/Users/sahil/Documents/Javascript Projects/JS projects/actual_blog app/blog app frontend/assets/profile.png');
    background-size: cover;
    
}

.profile-name{
    font-size: 3em;
    font-weight: bold;
}

.subtext{
    margin-top: 8px;
}



footer {
    min-height: 100px;
    background-color: #eaecee70;
    color: #929eaa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 14px;
}

/* CSS for header and footer Ending */

/* Initiating CSS for main body for homepage  */

main{

    margin-top:32px;
    display:flex;
    justify-content: center;
}

.main-container{
    max-width: 750px;
    min-width: 600px;
    width:100%;
    padding-left: 16px;
    padding-right: 16px;

  
}

.post{
    display:flex;
    border: 1px solid #eaecee;
    border-radius: 8px;
    min-height:200px;
    /* Overflow hidden helps to show the border radius and adjust image according to border radius */
    overflow: hidden; 
    margin-top: 24px;
}

.post-image{
    flex-basis: 40%;
    background-image: url('/Users/sahil/Documents/Javascript Projects/JS projects/actual_blog app/blog app frontend/assets/books.avif');
    background-size: cover;
    background-position: center;
  
}

.post-content{
    flex-basis: 60%;
    padding: 24px;
    
}

.post-date{
    font-size:12px;
    color: #808683;
    font-weight: 600;
}

.post-title{
    font-size: 1.3em;
    margin-top: 16px;
    color: #333;
    font-weight: 600;
}
.post-title h4{
    margin: 0;
}

.post-text{
    margin-top: 4px;
    color: #495057;
    font-weight: 400;
    font-size: 1em;
    /* line height helps to limit the text on the shown the homepage */
    line-height: 1.4;
    /* setting the minimum height helps to show only 3 lines of content  */
    max-height: 65px;
    /* overflow hidden- helps to hide the overflow of the text out of post container */
    overflow: hidden;
}

/* hover effect for single post on homepage */
.post:hover {
  box-shadow: 0 2rem 5rem 0 rgba(0,0,0,.1);
  transition: all 0.25s ease;
  transform: translate3d(0, -5px, 0);
  cursor: pointer;

}
/* three types of position - absoulte, realtive, fixed. */
.nav-button.new-post-button{
    /* important to use fixed instead of absoulte to let the button move as page grows. */
    position: fixed;
    bottom:30px;
    right:30px;
    font-size:24px;
    width:50px;
    height: 50px;
    background-color: #1331d9;
    color: white;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items:center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    transition: all 0.25s ease;

}

.nav-button.new-post-button:hover{
   background-color: #093a6e;

}